<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>
        Intro al HTML - Ejercicios Guía
    </h1>

    <ul>
        <li> <a href="/Home/Ejercicio1"> Ejercicio 1 - Conceptos básicos 1 </a> </li>
        <li> <a href="/Home/Ejercicio2"> Ejercicio 2 - Conceptos básicos 2 </a> </li>
        <li> <a href="/Home/Ejercicio3"> Ejercicio 3 - Conceptos básicos 3 </a> </li>
        <li> <a href="/Home/Ejercicio3enun2"> Ejercicio 3 - Conceptos básicos 3 Enunciado 2 </a> </li>
        <li> <a href="/Home/Ejercicio4"> Ejercicio 4 - Enlaces </a> </li>
        <li> <a href="/Home/Ejercicio5"> Ejercicio 5 - Listas </a> </li>

    </ul>
  

    
</body>
</html>
 