<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1> Carpeta ejercicios prácticos </h1>
    <h1>  Alumno: Christian Müller</h1>
    <h1> Profesor: Victor Contreras</h1>
    <h1>  Sede: Norte</h1>

    <h1>
        Ejercicios HTML:
    </h1>

    <ul>
        <li> <a href="/Home/Ejercicio1"> Ejercicio 1 - Conceptos básicos 1 </a> </li>
        <li> <a href="/Home/Ejercicio2"> Ejercicio 2 - Conceptos básicos 2 </a> </li>
        <li> <a href="/Home/Ejercicio3"> Ejercicio 3 - Conceptos básicos 3 </a> </li>
        <li> <a href="/Home/Ejercicio3enun2"> Ejercicio 3 - Conceptos básicos 3 Enunciado 2 </a> </li>
        <li> <a href="/Home/Ejercicio4"> Ejercicio 4 - Enlaces </a> </li>
        <li> <a href="/Home/Ejercicio5"> Ejercicio 5 - Listas </a> </li>
        <li> <a href="/Home/Ejercicio6"> Ejercicio 6 - Tablas 1 </a> </li>
        <li> <a href="/Home/Ejercicio7"> Ejercicio 7 - Tablas 2 </a> </li>
        <li> <a href="/Home/Ejercicio8"> Ejercicio 8 - Formularios 1 </a> </li>
        <li> <a href="/Home/Ejercicio9"> Ejercicio 9 - Formularios 2 </a> </li>
        <li> <a href="/Home/Ejercicio10"> Ejercicio 10 - Formularios (HTML5) </a> </li>


    </ul>

    <h1>
        Ejercicios CSS:
    </h1>

    <ul>
        <li> <a href="/Home/Ejerciciocss1"> Ejercicio 1 - Como-se-usa-1 </a> </li>
        <li> <a href="/Home/Ejerciciocss2"> Ejercicio 2 - Como-se-usa-2 </a> </li>
        <li> <a href="/Home/Ejerciciocss3"> Ejercicio 3 - Como-se-usa-3 </a> </li>
        <li> <a href="/Home/Ejerciciocss4"> Ejercicio 4 - Selectores 1 </a> </li>
        <li> <a href="/Home/Ejerciciocss5"> Ejercicio 5 - Selectores 2 </a> </li>
        <li> <a href="/Home/Ejerciciocss6"> Ejercicio 6 - Selectores 3 </a> </li>
        <li> <a href="/Home/Ejerciciocss7"> Ejercicio 7 - Maquetación diseño fijo </a> </li>

    </ul>



</body>
</html>
 